.registerForm {

  width: 40vw;
  height: 70vh;

  background: #343434;;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;

  h2 {
    margin-bottom: 4rem;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
      margin: 1rem;
      padding: 0.2rem;
      
    }
  }

  button {
      width: 100%;
      height: 2rem;

      border: none;

      border-radius: 1rem;
      transition: 0.4s;

      &:hover {
        filter: brightness(0.7);
        cursor: pointer;
      }
  }  
}
.success {
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 2rem;

  font-size: 1.2rem;
  font-weight: 600;
  background-color: #58da74;
  border-radius: 0.6rem;

  margin-top: 3rem;        
 
}

.error {

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 2rem;

  font-size: 1.2rem;
  font-weight: 600;
  background-color: #fc3737;
  border-radius: 0.6rem;

  margin-top: 3rem;        
 
}